section{
    position: relative;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.8);
}

section .container{
    padding-top: 40px;
    width: 80%;
    min-height: 550px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
section .container .contactinfo{
    width: 40%;
    height: calc(100% - 80px);
    background:  rgb(100, 15, 15);
    z-index: 1;
    padding: 40px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
}
section .container .contactinfo .info{
    position: relative;
    margin: 20px 0;
}
section .container .contactinfo .info li{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px;
    margin-left: 5px;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
section .container .contactinfo .info a{
    text-decoration: none;
}
section .container .contactinfo .info li span:nth-child(1){
    width: 30px;
    min-width: 30px;
}

section .container .contactForm{
    width: 80%;
    background: rgb(240, 240, 174);
    z-index: 0;
    padding: 40px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
}
section .container .contactForm input, select, textarea{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
section .container .contactForm #message{
    width: 100%;
}
section .container .contactForm .formBox{
    position: relative;
    display: flex;
}
.w50{
    float: left;
    margin-right: 15px;
}
.w100{
    clear: both;
}
section .container .contactForm #myBtn{
    display: block;
    margin: auto;
    margin-top: 20px;
}


@media screen and (max-width:800px){
    section{
        width: 100%;
        margin: auto;
    }
    section .container{
        display: block;
        width: 90%;
    }
    section .container .contactinfo{
        margin: auto;
        width: 60%;
        margin-top: 0;
    }
    section .container .contactinfo .info li{
        display: block;
        margin: auto;
        margin-top: 20px;
        text-align: center;
    }
    section .container .contactForm{
        margin: auto;
        width: 80%;
    }
}